@font-face {
    font-family: custom-font;
    src: url("../assets/fonts/Russed.ttf");
}

@keyframes rainbow {
    0% { color: red; }
    25% { color: orange; }
    50% { color: yellow; }
    75% { color: green; }
    100% { color: blue; }
}

@keyframes blink {
    50% { color: transparent }
}

.rainbow {
    animation: rainbow 2s linear infinite;
}

.blink {
    animation: blink 0.7s step-end infinite;
}

body {
    margin: 0;
}

.quote {
    font-family: "FangSong", "仿宋", serif, "Impact", sans-serif;
    padding-left: 15px;
}

.glow-text {
    color: #fff;
    text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #0ff;
}

.gradient-bg {
    background: linear-gradient(to right, #f00, #0f0, rgb(86, 86, 255));
}

.highlight {
    background-color: yellow;
}

.title {
    background-color: aquamarine;
    color: rgb(250, 0, 0);
    margin: 0;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "FangSong", "仿宋", serif, "Impact", sans-serif;
    border: 5px ridge white;
}

.main {
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: flex-start;
}

.content {
    background: #3F5EFB;
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    width: 70%;
    height: 100%;
}

.footer {
    border: 5px double aquamarine;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 40%;
}

.ads {
    width: 15%;
    vertical-align: top;
}

.avatars {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.avatar {
    width: 25%;
}

.avatar:hover {
    opacity: 30%;
}

.asidevid {
    position: fixed;
    bottom: 180px;
    left: 20px;
    width: 20vw;
    height: 11vw;
}

.back {
    position: fixed;
    top: 10px;
    right: 20px;
    background-color: red;
}

.newyearvid {
    width: 100%;
    height: 40vw;
}

.reflection-title {
    display: inline;
}

.reflection {
    margin: 40px 15px 15px 15px;
    font-family: "FangSong", "仿宋", serif, "Impact", sans-serif;
    padding: 15px;
    border: 2px dashed black;
}

.inline {
    display: inline;
}

.random {
    color: red;
    font-size: 20px;
}

.randomtexts {
    font-family: custom-font, sans-serif;
    font-size: 30px;
}

.randomtext1 {
    font-size: 7px;
}

.randomtext2 {
    font-size: 34vw
}

.randomtext3 {
    font-size: 5vw;
    background-image: url(../assets/images/2000s-ad-1.jpg);
}

.randomtext4 {
    font-size: 200%;
    background-color: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.ascii-art {
    color: white;
    font-size: 10px;
}