body {
    margin: 0;
}

.title {
    background-color: aquamarine;
    margin: 0;
}

.main {
    background-color: black;
    height: 100px;
}

.content {
    background-color: azure;
    width: 70%;
    height: 100%;
    margin: auto;
}